.cbus-log .content {
	-fx-background-color : lightyellow;
}

.lhs-title {
	-fx-font-weight : bold;
	-fx-font-size : 1.3em;
}
.rhs-title {
	-fx-font-weight : bold;
	-fx-font-size : 1.3em;
}

#bottomBox  {
	-fx-spacing	: 5px;
}
.bottomLabel {
	-fx-label-padding : 0 5px 0 5px;
	-fx-border-color : #808080;
	-fx-border-style: solid;
}

.nvgroup {
	-fx-border-color : #808080;
	-fx-border-style: solid;
}
.nvGrid {
    -fx-padding: 10;
    -fx-background-color: white;
}
.nvGroupTitle	{
	-fx-font-size : 1.3em;
}
.nvHeader	{
	-fx-font-weight : bold;
	-fx-font-size : 1.1em;
	-fx-background-color: black, #e0e0e0 ;
	-fx-background-insets: 0, 1 ;
}
.nvGroupCell {
	-fx-background-color: black, #e0e0e0;
	-fx-background-insets: 0, 1 ;
}

.popup {
	-fx-background-color : #e0e0e0;
}